<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cotilloshoppingcartazure20160410065220.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cotilloshoppingcartazure20160410065220.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CotilloShoppingCartAzure20160410065220</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CotilloShoppingCartAzure20160410065220</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cscie64-jc-final-project.database.windows.net,1433;Initial Catalog=shopping_cart_db;User ID=jcotillo@cscie64-jc-final-project;Password=Toyota2013" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\sqlexpress;Initial Catalog=shopping_cart_db;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EFContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\sqlexpress;Initial Catalog=shopping_cart_db;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cscie64-jc-final-project.database.windows.net,1433;Initial Catalog=shopping_cart_db;User ID=jcotillo@cscie64-jc-final-project;Password=Toyota2013</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>